/AlimentosDespensa.csv
/AseoCuidadoPersonal.csv
/AseoHogar.csv
/Bebés.csv
/Bebidas.csv
/Congelados.csv
/Lacteos.csv
/Mascotas.csv
/Olimpica.csv
/OlimpicaAseo.csv
/OlimpicaBebes.csv
/OlimpicaLacteos.csv
/D1.py